
.chart-container {
  display: flex;
  justify-content: center;
}

.pie-chart{
  width: 50%;
}

.area-chart{
  width: 50%;
}

@media(max-width: 767px){
  .chart-container {
    display: flex;
    flex-direction: column;
  }
  
  .pie-chart{
    width: 100%;
  }
  
  .area-chart{
    width: 100%;
  }
}